* {
  padding  : 0;
  margin   : 0;
  font-size: 16px;
}

ul,
li {
  list-style: none;
  padding   : 0;
  margin    : 0;
}

$withe      :white;
$theme      :#012A4A;
$titleBgk   :#F2F2F2;
$font333    :#333333;
$bordercolor:#F2F2F2;
$red        :#D9001B;
$orange     :#F59A23;
$green      :#03BF16;
$blue       :#409eff;

img {
  width: 100%;
}

.text-decoration {
  text-decoration: underline;
  cursor         : pointer;
}

.border {
  border: 1px solid rgb(38, 52, 69)
}

%wordWrap {
  word-wrap : break-word;
  word-break: normal;
}

.border-right {
  border-right: 1px solid $bordercolor;
}

.border-bottom {
  border-bottom: 1px solid $bordercolor;
}

.mb20 {
  margin-bottom: 20px;
}

.mt20 {
  margin-top: 20px;
}

.mt40 {
  margin-top: 40px;
}

.pd20 {
  padding: 20px;
}

.text-right {
  text-align: right;
}

%fontEllipsis {
  white-space  : nowrap;
  text-overflow: ellipsis;
  overflow     : hidden;
  word-break   : break-all;
}

.fonthide {
  @extend %fontEllipsis
}

%h2 {
  color        : $theme;
  line-height  : 80px;
  text-align   : center;
  font-size    : 1.8rem;
  border-bottom: 1px solid $bordercolor;
}

.clear::after {
  display : block;
  clear   : both;
  content : '';
  overflow: hidden;
}



// .table {
//   .cell {
//     div {
//       @extend %fontEllipsis
//     }

//   }
// }

.center {
  text-align: center;
}

//滚动条
::-webkit-scrollbar {
  width           : 6px;
  height          : 8px;
  background-color: #ebeef5;
}

::-webkit-scrollbar-thumb {
  // border-radius:2px;
  box-shadow        : inset 0 0 6px rgba(0, 0, 0, .3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color  : #ccc
}

::-webkit-scrollbar-track {
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background   : rgba(255, 255, 255, 1);
}


.el-header {
  position: fixed !important;
  top     : 0;
  right   : 0;
  z-index : 99;
  left    : 230px;
  padding : 0;
}

.header {
  background-color  : #012a4a;
  box-shadow        : 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  color             : #333;
  line-height       : 60px;
  align-items       : center;
  justify-items     : right;

  width  : calc(100vw - 270px);
  height : 70px;
  padding: 0 20px;

  h4 {
    float      : left;
    color      : $withe;
    font-size  : 1.5rem;
    font-weight: 600;
    line-height: 70px;
  }

  a {
    color   : $withe;
    height  : 50px;
    display : inline-block;
    position: relative;
    top     : -5px;
    margin  : 0 15px;

    i {
      font-size: 24px;
    }
  }
}

.el-main {
  margin-top: 132px;
}

.logo {
  color      : $withe;
  font-weight: 600;
  line-height: 180%;
  text-align : center;
  padding    : 20px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 0 0 8px $withe;

  h2 {
    font-size: 1.3rem;
  }

}

.el-menu-item {
  font-size: 16px !important;
}

.item {
  i {
    font-size: 24px;
  }
}

.queryCenter {
  h2 {
    color           : $theme;
    background-color: $titleBgk;
    font-size       : 1.2rem;
    font-weight     : 600;
    padding         : 0 20px;
    line-height     : 240%;
    border-bottom   : $theme 1px solid;
  }

  .queryList {
    padding: 40px 20px;

    a {
      display      : flex;
      justify-items: left;
      align-items  : center;
      position     : relative;
      margin-bottom: 70px;
      width        : 100%;
      padding-top  : 5px;

      &:last-child {
        margin-bottom: 0;
      }

      i {
        color    : $theme;
        font-size: 2.5rem;
      }

      .queryText {
        margin-left: 20px;
        line-height: 180%;
        width      : calc(100% - 60px);

        h3 {
          color    : $theme;
          font-size: 1.2rem;
        }

        p {
          color: $font333;

          display: block;
          @extend %fontEllipsis;
          font-size: 0.8rem;
        }
      }
    }
  }

  .small {
    a {
      margin-bottom: 30px;
      padding-top  : 0;
    }
  }
}

.newslist {
  padding: 20px 20px;
  height : 602px;
}

.title {
  color      : $theme;
  font-size  : 1.2rem;
  font-weight: 600;
  line-height: 240%;

}

.listtext {
  position: absolute;
  top     : 80px;
  left    : 20px;
}

.monitor {
  padding   : 15px 20px;
  height    : 192px;
  overflow-y: auto;

  ul {
    li {
      line-height  : 180%;
      margin-bottom: 5px;
      cursor       : pointer;

      &:hover {
        color: $blue;
      }
    }
  }
}

.task {
  padding: 15px;
  height : 192px;
}

#echarts {
  padding: 15px;
  height : 300px;
}

#footer {
  background-color: $bordercolor;
  padding         : 20px;
  text-align      : center;
  height          : auto;
  height          : 80px;

  p {
    font-size  : .8rem;
    line-height: 240%;
    font-weight: 600;

    &:first-child {
      color: $theme;
    }
  }
}

/*--------------------------历史维修记录---------------------*/
.repair {
  height    : calc(100vh - 260px);
  margin-top: 50px;
}

.choselist {

  a {
    display       : block;
    border        : 2px solid $theme;
    border-radius : 4px;
    padding       : 50px 15px;
    overflow      : hidden;
    letter-spacing: 2px;
    transition    : all .5s ease-in-out;

    h2 {
      text-align : center;
      color      : $theme;
      line-height: 120%;
      font-size  : 1.8rem;
      transition : all .5s ease-in-out;
    }

    .text {
      text-align : center;
      color      : $theme;
      line-height: 180%;
      margin     : 60px 0;
      transition : all .5s ease-in-out;

      p {
        font-size: 1rem;
      }
    }

    .selectBtn {
      background-color: $theme;
      color           : $withe;
      display         : block;
      width           : 60%;
      margin          : 0 auto;
      transition      : all .5s ease-in-out;
    }
  }

  &:hover {

    a {
      background-color: $theme;

      h2,
      .text {
        color: $withe;
      }
    }

    .selectBtn {
      background-color: $withe;
      color           : $theme;
    }
  }
}

.choseTitle {
  font-size  : 2.5rem;
  text-align : center;
  margin-top : 60px;
  font-weight: 600;
  color      : $theme;
}

.integrated {
  height  : calc(100vh - 210px);
  overflow: hidden;

  .screenCondition {
    height: 100%;
    border: 1px solid $theme;
    height: calc(100vh - 274px);

    h2 {
      @extend %h2
    }

    ul {
      height    : calc(100vh - 355px);
      overflow-y: auto;

      li {
        padding      : 0 20px;
        line-height  : 60px;
        font-size    : 1.5rem;
        font-weight  : 600;
        color        : $theme;
        display      : block;
        border-bottom: 1px solid $bordercolor;
        cursor       : pointer;

        &:hover {
          background-color: $theme;
          color           : $withe;
        }
      }

      .current {
        background-color: $theme;
        color           : $withe;
      }
    }

  }

  .integrateedContent {
    height     : calc(100vh - 274px);
    border     : 1px solid $theme;
    border-left: none;

    h2 {
      @extend %h2
    }


  }
}

.conditionList {
  padding   : 40px 20px;
  height    : calc(100vh - 435px);
  overflow-y: auto;

  .conditionTable {
    border       : 1px solid $theme;
    margin-bottom: 20px;

    h4 {
      background-color: $titleBgk;
      color           : $theme;
      line-height     : 40px;
      font-weight     : 600;
      font-size       : 1.2rem;
      padding         : 0 20px;
      border-bottom   : 1px solid $theme;
    }

    .conditionTableContent {
      padding: 15px 20px;
      height : 130px;

      .el-textarea__inner {
        height    : 90px;
        overflow-y: auto;
        border    : none;
        font-size : 1.2rem;
      }

      .el-input--small input {
        min-width: 150px;
      }

      .line {
        line-height: 40px;
        text-align : center;
      }

      .matching {
        h5 {
          color        : $theme;
          margin-bottom: 15px;
        }
      }

      .setDate {
        line-height: 40px;
        margin-top : 15px;
      }
    }
  }
}

.tagBorder {
  border    : 1px solid #3399FF;
  box-shadow: 0 0 3px #3399FF;
  padding   : 5px;
  overflow  : auto;
  max-height: 80px;
  min-height: 32px;
}

.addcontent {
  background-color: $theme;
  color           : $withe;
  font-size       : 1.2rem;
  float           : right;

  &:focus,
  &:hover {
    background-color: $theme;
    color           : $withe;
  }
}

.selecteds {
  border     : 1px solid $theme;
  border-left: none;
  height     : calc(100vh - 274px);

  h2 {
    @extend %h2
  }

  .selectedsList {
    padding: 40px 20px;

    .selectedsContentList {
      height: calc(100vh - 435px);

      ul {
        margin-bottom: 20px;
        height       : calc(100vh - 498px);
        overflow-y   : auto;
        overflow-x   : hidden;

        li {
          padding-bottom: 15px;

          .name {
            font-size  : 1.2rem;
            color      : $theme;
            font-weight: 600;
            position   : relative;
            line-height: 200%;

            i {
              display    : block;
              float      : right;
              font-size  : 1.2rem;
              line-height: 180%;
              font-weight: 600;
              color      : $red;
              margin     : 0 5px;
              cursor     : pointer;

              &:last-child {
                color: $orange;
              }
            }
          }
        }
      }

      .btn {
        display  : block;
        margin   : 0 auto;
        font-size: 1.2rem;
      }

      .empty {
        background-color: $red;
        color           : $withe;
      }

      .submit {
        background-color: $green;
        color           : $withe;
      }
    }
  }
}

/*---------------------searchResult---------------------------------*/
.conditionSummary {
  border: 1px solid $theme;

  .summaryTilte {
    h4 {
      background-color: $titleBgk;
      color           : $theme;
      line-height     : 40px;
      font-weight     : 600;
      font-size       : 1.2rem;
      padding         : 0 20px;
      border-bottom   : 1px solid $theme;
    }
  }

  .conditionSummaryList {
    padding: 30px 20px;

    .el-col {

      h5 {
        color      : $theme;
        font-size  : 1.2rem;
        font-weight: 600;
        line-height: 180%;

        i {
          float      : right;
          line-height: 170%;
          font-size  : 1.5rem;
          font-weight: 600;
          margin-left: 10px;
          cursor     : pointer;

          &:first-child {
            color: $red;
          }

          &:last-child {
            color: $orange;
          }
        }

      }

      p {
        margin-top : 10px;
        line-height: 150%;
        @extend %wordWrap
      }
    }
  }
}

.refreshResult {
  background-color: $theme;
  color           : $withe;
  font-size       : 1.2rem;
  font-weight     : 600;

  &:hover,
  &:focus {
    background-color: $theme;
    color           : $withe;
  }
}

.addCondition {
  background-color: $titleBgk;
  color           : $theme;
  font-size       : 1.2rem;
  font-weight     : 600;
  border-color    : $theme;

  &:hover,
  &:focus {
    background-color: $titleBgk;
    color           : $theme;
    border-color    : $theme;
  }
}

.resultTable {
  border: 1px solid $theme;

  h4 {
    background-color: $titleBgk;
    font-weight     : 600;
    font-size       : 1.2rem;
    line-height     : 40px;
    padding         : 0 20px;
    color           : $theme;
    border-bottom   : 1px solid $theme;

  }

  .dataList {
    li {
      margin-bottom: 20px;

      h3 {
        color      : black;
        font-size  : 1.3rem;
        font-weight: 600;

        span {
          color      : $theme;
          font-weight: 600;
          font-size  : 1.3rem;
        }
      }

      p {
        color       : $theme;
        line-height : 180%;
        padding-left: 10px;
        @extend %fontEllipsis;
        font-size  : 1rem;
        font-weight: 600;

      }
    }
  }
}

.selectradio {
  float  : left;
  display: block;

  .el-radio__label {
    font-size  : 1rem;
    line-height: 180%;
  }

}

.selectcheckbox {
  display: block;
  float  : right;

  .el-checkbox__label {
    font-size  : 1rem;
    line-height: 180%;
  }
}

.scheme {
  height  : calc(100vh - 272px);
  overflow: hidden;

  .entryFault {
    height: 100%;
    border: 1px solid $theme;
    height: calc(100vh - 274px);

    h2 {
      color        : #012A4A;
      line-height  : 80px;
      text-align   : center;
      font-size    : 1.8rem;
      border-bottom: 1px solid #F2F2F2;
    }

    .faultInformation {
      padding: 20px;

      li {
        margin-bottom: 15px;
        line-height  : 40px;

        h5 {
          color      : $theme;
          font-size  : 1.2rem;
          line-height: 200%;
          font-weight: 600;
        }

        p {
          line-height: 30px;
          @extend %wordWrap
        }
      }

    }
  }

  .selectedsProgramme {
    border     : 1px solid $theme;
    border-left: none;
    height     : calc(100vh - 274px);

    h2 {
      color        : #012A4A;
      line-height  : 80px;
      text-align   : center;
      font-size    : 2rem;
      border-bottom: 1px solid #F2F2F2;
    }
  }
}

.programme {
  padding: 20px;

  .el-radio-button__orig-radio:checked+.el-radio-button__inner {
    background-color: $theme;
    border-color    : $theme;
    box-shadow      : -1px 0 0 0 $theme;
  }

  .el-radio-button__inner:hover {
    color           : $withe;
    background-color: $theme;
    border-color    : $theme;
  }


}

.programmeDetails {
  padding     : 20px;
  border-right: 1px solid $theme;
  height      : calc(100vh - 475px);
  overflow-y  : auto;

  h4 {
    color      : $theme;
    font-size  : 1.2rem;
    font-weight: 600;
  }

  h1 {
    color        : $theme;
    font-size    : 1.2rem;
    margin-bottom: 20px;

    i {
      float      : right;
      font-size  : 1.2rem;
      font-weight: 600;
      margin     : 0 10px;
      cursor     : pointer;

      &:first-child {
        color: $red;

      }

      &:last-child {
        color: $orange;
      }
    }
  }

  li {
    margin-bottom: 15px;
    font-size    : 1rem;
    line-height  : 25px;

    span {
      color      : $theme;
      font-weight: 600;
    }

    p {
      line-height: 25px;

      span {
        color      : $theme;
        font-weight: 600;
        cursor     : pointer;
      }
    }

    .other {
      padding-left: 10px;
      margin-top  : 15px;

      h5 {
        line-height: 25px;
      }

      p {
        line-height : 25px;
        padding-left: 5px;

        span {
          color: $theme;
        }
      }
    }
  }
}

.proprammeRight {
  padding: 20px;

  .programmeImg {
    height    : calc(100vh - 475px);
    overflow-y: auto;

    h3 {
      color      : $theme;
      font-weight: 600;
      text-align : center;
      font-size  : 1.5rem;
    }

    .echarts {
      height         : calc(100vh - 444px);
      width          : 100%;
      display        : flex;
      align-items    : center;
      justify-content: center;
      margin-top     : 50px;
    }

    img {
      margin    : 0 auto;
      margin-top: 40px;
      display   : block;
    }

  }
}

.btncenter {
  display        : flex;
  align-items    : center;
  justify-content: center;
  padding-top    : 40px;
  margin-top     : 40px;
  border-top     : 1px solid $bordercolor;

  .el-button {
    background-color: $orange;
    color           : $withe;
    font-size       : 1.2rem;

    &:first-child {
      background-color: $green;
    }

    &:last-child {
      background-color: $red;
    }
  }

}

.submitBtn {

  .el-button {
    font-size: 1.2rem;
    color    : $withe;

    &:first-child {
      background-color: $red;
    }

    &:last-child {
      background-color: $green;
    }
  }
}

.component {
  height    : calc(100vh - 455px);
  overflow-y: auto;
}

.searchbtn {
  display         : block;
  margin          : 0 auto;
  background-color: $theme;
  color           : $withe;
  padding-left    : 40px;
  padding-right   : 40px;
  font-size       : 1.2rem;
  font-weight     : 600;

  &:hover,
  &:focus {
    background-color: $theme;
    color           : $withe;
  }
}

.componentbox {
  font-size  : 1.2rem;
  font-weight: 600;
}

.news {
  .el-col {
    margin: 10px 0;

    p {
      line-height: 150%;
      @extend %wordWrap;
      min-height: 24px;

      &:last-child {
        color      : $theme;
        font-weight: 600;
      }
    }
  }
}

.selectedComponent {
  padding: 20px;

  ul {
    height    : calc(100vh - 712px);
    overflow-y: auto;

    li {
      margin-bottom: 15px;

      p {
        line-height: 30px;
        color      : $theme;
        font-weight: 600;

        i {
          float      : right;
          font-size  : 1.2rem;
          font-weight: 600;
          margin     : 10px;
          cursor     : pointer;

          &:last-child {
            color: $orange;
          }

          &:first-child {
            color: $red;
          }
        }
      }
    }
  }
}

.check {
  display    : block;
  font-size  : 1.2rem;
  font-weight: 600;
  line-height: 40px;
}

.download {
  display         : block;
  margin          : 0 !important;
  margin-top      : 15px !important;
  width           : 100%;
  background-color: $theme;
  color           : $withe;
  font-size       : 1.3rem;

  &:hover,
  &:focus {
    background-color: $theme;
    color           : $withe;
    border-color    : $theme;
  }

  &:last-child {
    background-color: $titleBgk;
    color           : $theme;
    border-color    : $theme;

    &:hover,
    &:focus {
      background-color: $titleBgk;
      color           : $theme;
      border-color    : $theme;
    }
  }
}

.tagInput {
  padding-left: 100px;
  position    : relative;

  p {
    position   : absolute;
    top        : 0;
    left       : 0;
    display    : block;
    line-height: 42px;
    border     : 1px solid black;
    width      : 100px;
    text-align : center;
  }
}

.reportTable {
  margin-top : 20px;
  border-top : 1px solid $bordercolor;
  padding-top: 20px;
}

.taskNews {
  height    : 1062px;
  padding   : 20px;
  overflow-y: auto;
}

.btnfont {
  span {
    font-size: 0.7rem;
  }
}

.datePicker {
  width: 100% !important;
}

.selectRadioGroup {
  .el-radio-button {
    border-left: 1px solid #DCDFE6;
    margin-left: -1px;

    &:first-child {
      border-left: none;
    }
  }
}

.faultSubmit {
  background-color: $theme;
  color           : $withe;
  margin-top      : 8px;
  float           : right;

  &:hover,
  &:focus {
    background-color: $theme;
    color           : $withe;
  }
}

.tagtitle {
  background-color: $titleBgk;
  padding         : 15px;
  overflow        : auto;
  width           : calc(100% - 30px);
  overflow-x      : auto;

  .tabs {
    .el-tag {
      margin          : 0 5px;
      cursor          : pointer;
      color           : $font333;
      border-color    : $bordercolor;
      background-color: $withe;
      display         : block;
      float           : left;

      .el-tag__close {
        color: $font333;
      }
    }

    .current {
      background-color: $blue;
      color           : $withe;

      i {
        color: $withe !important;
      }
    }
  }
}

.dialog-de {
  padding-left: 15px !important;

  .el-col {
    line-height  : 38px;
    margin-bottom: 15px;
    position     : relative;
    padding-left : 80px !important;

    font {
      font-weight: 600;
      display    : block;
      position   : absolute;
      left       : 0;
      top        : 0;

    }
  }
}

.el-dialog__header {
  font-size  : 1.2rem;
  font-weight: 600;
}

#taskCard {
  .el-dialog__header {
    background-color: $theme;

    .el-dialog__title {
      color: $withe;
    }

    .el-dialog__close {
      color: $withe;
    }
  }

  .el-dialog__body {
    max-height: 700px !important;
    overflow-y: auto;
  }

}

.de-title {
  font-size    : 1.3rem;
  font-weight  : 600;
  line-height  : 2rem;
  color        : $theme;
  margin-bottom: 15px;
}

.tableDetails {
  border    : 1px solid $bordercolor;
  height    : 250px;
  overflow-y: auto;
  padding   : 15px;

  .el-col {
    margin-bottom: 10px;
    min-height   : 28px;

    .textContent {
      position    : relative;
      line-height : 180%;
      padding-left: 80px;

      span {
        display    : block;
        position   : absolute;
        left       : 0;
        top        : 0;
        line-height: 180%;
        font-weight: 600;
      }
    }
  }
}

#main {
  width : 100%;
  height: 500px;
}

.newscenterlist {
  overflow-y   : auto;
  height       : 561px;
  padding-right: 15px;

  li {
    margin-bottom: 8px;

    a {
      display     : block;
      padding-left: 60px;
      position    : relative;
      color       : black;

      i {
        width           : 10px;
        height          : 10px;
        border-radius   : 50%;
        background-color: red;
        position        : absolute;
        top             : 50%;
        margin-top      : -5px;
        left            : 0;
      }

      span {
        position  : absolute;
        left      : 12px;
        top       : 50%;
        margin-top: -12px;
      }

      p {
        @extend %fontEllipsis;
        line-height: 38px;
      }

      &:hover {
        color: $blue !important;
      }
    }
  }
}

.newstitle {
  font-size       : 1.2rem;
  font-weight     : 600;
  border-bottom   : 1px solid $bordercolor;
  line-height     : 40px;
  background-color: $titleBgk;
  padding         : 0 15px;
}

.tips,
.emaillist {
  height       : 301px;
  border-bottom: 1px solid $bordercolor;

  .tipslist {
    height        : 245px;
    overflow-y    : auto;
    padding-bottom: 15px;

    a {
      display      : block;
      color        : black;
      line-height  : 38px;
      position     : relative;
      padding-left : 58px;
      margin-bottom: 8px;

      span {
        position: absolute;
        left    : 12px;
        top     : 0;

      }

      p {
        @extend %fontEllipsis;
        line-height: 38px;
      }

      &:hover {
        color: $blue !important;
      }
    }
  }
}

.emaillist {
  height     : 301px;
  padding-top: 15px;
}

.pntitle {
  font-size  : 1.2rem;
  color      : $theme;
  line-height: 180%;
  margin     : 15px 0
}

#pdf {
  .el-dialog__body {
    max-height: 700px;
    overflow-y: auto;
  }
}

.table-btn {
  .el-button {
    margin-bottom: 5px;
    width        : 72px;
    margin-left  : 0;
    margin-right : 5px;
  }
}

.tablefont {
  @extend %fontEllipsis
}

.schemeNews {
  position: relative;

  h2 {
    font-weight: 600;
    text-align : left !important;
    border     : none !important;
    font-size  : 1rem !important;
    line-height: 150% !important;
  }

  .downloadPdf {
    position        : absolute;
    display         : block;
    right           : 0;
    top             : 2px;
    background-color: $green;
    color           : $withe;
  }
}

.counter {
  margin: 20px 0;
}

.suggestionList {

  margin-top: 40px;

  .contentBorder {
    border       : 2px solid #3399FF;
    padding      : 20px;
    margin-bottom: 40px;
    position     : relative;

    &::after {
      display   : block;
      content   : '';
      width     : 51px;
      height    : 60px;
      position  : absolute;
      bottom    : -60px;
      left      : 5px;
      background: url('../image/icon.png');
    }

    i {
      display    : block;
      position   : absolute;
      top        : -35px;
      line-height: 30px;
      left       : -30px;
      font-style : normal;
      font-weight: 600;
    }

    &:last-child {
      &::after {
        background: transparent !important;
        display   : none !important;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    .listleft,
    .listright {
      line-height: 30px;

      p {
        span {
          color          : $theme;
          text-decoration: underline;
          cursor         : pointer;
          font-weight    : 600;
        }
      }
    }
  }

}

.contenttext {
  h5 {
    font-size    : 1.2rem;
    font-weight  : 600;
    border-bottom: 1px solid $bordercolor;
    line-height  : 40px;
  }

  p {
    position    : relative;
    padding-left: 80px;
    height      : 38px;
    line-height : 38px;
    @extend %fontEllipsis;

    span {
      display    : block;
      line-height: 38px;
      position   : absolute;
      left       : 0;
      top        : 0;
      font-weight: 600;
      text-align : justify;
    }
  }
}

.notes {
  H6 {
    color          : #3399FF;
    text-decoration: underline;
    line-height    : 38px;
    cursor         : pointer;
  }

  P {
    padding: 0 !important;
  }
}

.special {
  p {
    padding-left: 15px;
    position    : relative;

    i {
      display      : block;
      position     : absolute;
      width        : 8px;
      height       : 8px;
      border-radius: 50%;
      left         : 0 !important;
      top          : 11px !important;
    }


  }
}

.classA {
  background-color: $red;
}

.classB {
  background-color: $orange;
}

.classC {
  background-color: $green;
}

.preview {
  height    : calc(100vh - 400px);
  overflow-y: auto;
}

.orange {
  color          : $blue !important;
  text-decoration: none !important;
}

.downloading {
  position        : absolute;
  top             : 15px;
  right           : 80px;
  background-color: $green;
  color           : $withe;

  &:hover,
  &:focus {
    color           : $withe;
    background-color: $green;
  }
}

#previewpdf {
  .el-dialog {
    min-width: 680px
  }

}